* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #111113;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  margin: 32px 0;
  height: 120px;
}

header div {
  display: flex;
  width: 120px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
  transition: transform .3s;   /* If transform is used, take .3s to transition */
}

header div:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%; /* If screen is under 580px */
  margin: 32px auto;
  display: grid;
  gap: 24px;
}

section {
  color: #fff;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  border-radius: 8px;
  padding: 24px 32px 32px 32px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  color: #a1a1aa;
  letter-spacing: -0.18px;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

section ul li {
  transition: transform .3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.game-list img {
  border-radius: 8px;
  width: 90px;
}

.channel-list img {
  border-radius: 50%;
  width: 70px;
}

header div {
  /* Name, duration, delay. If there's a delay, it's important to have backwards fetch animation properties beforehand and make it smoother. */
  animation: fromTop .8s .2s backwards;
}

main section {
  animation: fromBottom .8s backwards;
}

main section:nth-child(1) {
  animation-delay: .2s;
}

main section:nth-child(2) {
  animation-delay: .4s;
}

main section:nth-child(3) {
  animation-delay: .8s;
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}